.wrapper{
    position: relative;
    min-height: 88vh;

    .grid{
        position: absolute;
        top: 40%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 20px 50px;
        display: grid;
        grid-template-columns: 22% auto 22% auto 22% auto 22%;
        grid-template-areas: 
            "title1 break1 title2 break2 title3 break3 title4"
            "text1 break1 text2 break2 text3 break3 text4"
        ;

        .backgroundimg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; 
            height: 100%; 
            z-index: -1; 

            :first-child{
                display: none;
            }

            :last-child{
                display: none;
            }
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: opacity(30%);                
            }      
        }

        .title{
            font-size: 1.2em;
            color: var(--LightBlue);
            font-family: "FontBold";
            letter-spacing: 1.1px;
            

            .subtitle{
                font-family: "FontLight";
            }
        }

        #title1{
            grid-area: title1;
        }

        #title2{
            grid-area: title2;
        }

        #title3{
            grid-area: title3;
        }

        #title4{
            grid-area: title4;
        }

        .text{
            font-family: "FontLight";
            font-size: 1.1em;
            color: var(--LightBlue);
            text-align: left;

            div{
                margin: 1em 0px;
            }

            .imgholder{
                text-align: center;
                img{
                    max-width: 90%;
                }
            }

            .videoholder{
                max-width: 100%;
                text-align: center;
                .videoincase{
                    max-width: 90%;
                }
            }
        }

        #text1{
            grid-area: text1;

            .imgholder{
                img{
                    border-radius: 50%;
                }
            }
        }

        #text2{
            grid-area: text2;
        }

        #text3{
            grid-area: text3;
        }

        #text4{
            grid-area: text4;
        }

        .breakerbox{
            position: relative;
            .breaker{
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                border-left: 3px solid var(--BreakBlue);
                height: 60%;
            }
        }

        #breaker1{
            grid-area: break1;
        }

        #breaker2{
            grid-area: break2;
        }

        #breaker3{
            grid-area: break3;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper{
        min-height: 80vh;
        .grid{  
            
            .title{
                font-size: 1em;
            }
            
            .text{
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-height: 760px){
    .wrapper{
        position: static;
        min-height: 80vh;
    
        .grid{
            position: static;
            transform: none;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 810px) {
    .wrapper{
        .grid{
            #text1{
                .imgholder{
                    // height: 160px;
                    // width: 160px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .wrapper{
        position: static;
        .grid{
            position: static;
            top: 0%;
            -ms-transform: none;
            transform: none;
            grid-template-columns: auto 95% auto;
            grid-template-areas: 
                "space title4 space2"
                "space text4 space2"
                "space title3 space2"
                "space text3 space2"
                "space title2 space2"
                "space text2 space2"
                "space title1 space2"
                "space text1 space2"                
            ;

            .backgroundimg{
                :first-child{
                    display: block;
                }
    
                :last-child{
                    display: block;
                }
            }

            #text4{
                display: grid;
                grid-template-areas: 
                    "img"
                    "img2"
                    "text"
                ;

                .imgholder{
                    grid-area: img2;
                }

            }

            #text3{
                display: grid;
                grid-template-areas: 
                    "img"
                    "text"
                ;   

                .imgholder{
                    grid-area: img;
                }
            }

            #text2{
                display: grid;
                grid-template-areas: 
                    "img"
                    "video"
                    "text"
                ;

                .imgholder{
                    grid-area: img;
                }

                .videoholder{
                    grid-area: video;
                }


            }
        }

        .breakerbox{
            display: none;
        }
    }
}