.wrapper{
    position: relative;
    min-height: 88vh;

    .grid{
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-areas: 
            "upwork upprod text upinter upexp"
            "linkwork linkprod text linkinter linkexp"
            "downwork downprod text downinter downexp"
        ;
        
        .text{
            color: #EFECEC;
            font-family: "FontLight";
            font-size: 1.25em;
            text-align: left;
            margin: 10%;
            padding: 5px;
            grid-area: text;

            div:last-child{
                margin-top: 20px;
            }
            
        }

        //border design for text
        .borderdesignup{
            grid-area: text;
            z-index: -1;
            position: relative;

            .bordertop{
                position: absolute;

                width: 75%;
                height: 10%;

                border-top: 3px solid var(--LightBlue);
                border-left: 3px solid var(--LightBlue);
                border-top-left-radius: 50px;
                
            }

            .borderleft{
                position: absolute;
                top: 10%;
                left: -10%;

                height: 35%;
                width: 10%;

                border-right: 3px solid var(--LightBlue);
                border-bottom: 3px solid var(--LightBlue);
            }  
        }

        .borderdesigndown{
            grid-area: text;
            z-index: -1;
            transform: rotate(180deg);
            position: relative;

            .bordertop{
                position: absolute;
                left: 10%;
                top: 0%;

                width: 75%;
                height: 10%;

                border-top: 3px solid var(--LightBlue);
                border-left: 3px solid var(--LightBlue);
                border-top-left-radius: 50px;
                
            }

            .borderleft{
                position: absolute;
                left: 0;
                top: 10%;

                height: 35%;
                width: 10%;

                border-right: 3px solid var(--LightBlue);
                border-bottom: 3px solid var(--LightBlue);
            }
        }
        // end of border design text

        a{
            color: var(--TextBlue);
            text-decoration: none;
            font-family: "FontBold";
            font-size: 1.3em;
            padding: 10px;
            align-self: center;
        }

        .linkworkshop{
            grid-area: linkwork;
        }

        .linkproduct{
            grid-area: linkprod;
        }

        .linkintervention{
            grid-area: linkinter;   
        }

        .linkexp{
            grid-area: linkexp;
        }

        #evanimg{
            grid-area: downexp;

            width: 60%;
            min-width: 140px;
            align-self: end;
            margin: 0 auto;
        }

        #interimg{
            grid-area: downinter;

            width: 90%;
            min-width: 160px;
            margin: 0 auto;
        }

        #prodimg{
            grid-area: upprod;

            width: 80%;
            min-width: 160px;
            margin: 0 auto;
        }

        #workimg{
            grid-area: upwork;

            width: 55%;
            min-width: 140px;
            margin: 0 auto;
        }
        
        .evanimg{
            max-width: 100%;            
        }
        .interimg{
            max-width: 100%; 
        }

        .prodimg{
            max-width: 100%; 
            border: 7px solid #70BDDC;
            border-radius: 50%;
        }

        .workimg{
            max-width: 100%;
            border: 7px solid #3F9BBF;
            border-radius: 50%;
        }
    }
}

@media only screen and (max-height: 760px){
    .wrapper{
        position: static;
        min-height: 88vh;
    
        .grid{
            position: static;
            transform: none;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .wrapper{
        .grid{
            top: 45%;
            .text{
                font-size: 1.15em;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper{
        min-height: 80vh;

        .grid{
            
            grid-template-columns: auto 30% 30% 30% auto;
            
            
            grid-template-areas: 
                "break upprod text downexp break2"
                "break linkprod text linkexp break2"
                "break upwork text downinter break2"
                "break linkwork text linkinter break2"
            ;

            .text{
                font-size: 1.15em;
                margin: 7% 10%;
            }

            //border design for text
            .borderdesignup{
           
                .bordertop{
                    left: 5%;
                    

                    width: 70%;
                    height: 10%;
                }

                .borderleft{
                    top: 10%;
                    left: 0%;

                    height: 35%;
                    width: 5%;
                }  
            }

            .borderdesigndown{
            
                .bordertop{
                    left: 5%;
                    top: 10%;

                    width: 70%;
                    height: 10%;                      
                }

                .borderleft{
                    left: 0;
                    top: 20%;

                    height: 35%;
                    width: 5%;
                }
            }
            // end of border design text

            a{
                font-size: 1.2em;
            }

            .linkworkshop{
                max-width: 60%;                
            }
    
            .linkproduct{
                max-width: 60%;
                margin: 0 5% 0 auto; 
            }
    
            .linkintervention{
                max-width: 40%;
                margin: 0 auto 0 11%;    
            }
    
            .linkexp{
                max-width: 40%;
                margin: 0 10% 0 auto;    
            }

            #evanimg{
                margin: 0;
                justify-self: end;   
                max-width: 60%;          
            }

            #interimg{
                margin: 10% 5% 0% 5%;
                justify-self: start;
                max-width: 60%;
            }
    
            #prodimg{
                margin: 0 5% 0 0;
                justify-self: end;
                max-width: 60%;                
            }
    
            #workimg{
                margin: 0 10% 0 9%;
                align-self: end;
                justify-self: start;
                max-width: 60%;  
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 843px) {

    .wrapper{
        .grid{
            .borderdesigndown{
                .bordertop{
                    top: 0%;                    
                }

                .borderleft{
                    top: 10%;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .wrapper{
        position: static;
        
        .grid{
            position: static;
            top: 0;
            transform: none;
            -ms-transform: none;
            grid-template-columns: auto 46% 46% auto;
            grid-template-areas: 
            "space upprod break space2"
            "space upprod downinter space2"
            "space linkprod downinter space2"
            "space break2 linkinter space2"
            "space text text space2"
            "space upwork upwork space2"
            "space linkwork linkwork space2"
            "space downexp downexp space2"
            "space linkexp linkexp space2s"
            ;

            .text{
                padding: 40px 10px;
            }

            .borderdesignup{
    
                .bordertop{ 
                    left: 49%;   
                    width: 35%;
                    height: 10%;
                    border-radius: 0;
                    border-top: 0;
                    border-bottom: 3px solid var(--LightBlue);
                }
    
                .borderleft{
                    position: absolute;
                    top: 10%;
                    left: 84%;
    
                    height: 55%;
                    width: 10%;

                    border-top-right-radius: 50px;
                    border-bottom: 0;
                    border-top: 3px solid var(--LightBlue);
                }  
            }

            .borderdesigndown{
                .bordertop{
                    left: 49%;
                    top: 0%;
    
                    width: 35%;
                    height: 10%;
                    
                    border-top: 0;
                    border-bottom: 3px solid var(--LightBlue);
                    border-left: 3px solid var(--LightBlue);
                    border-radius: 0px;
                }
    
                .borderleft{
                    
                    left: 84%;
                    top: 10%;
    
                    height: 55%;
                    
                    border-top: 3px solid var(--LightBlue);
                    border-right: 3px solid var(--LightBlue);
                    border-bottom: 0;
                    border-top-right-radius: 50px;
                }
            }

            #prodimg{
                margin: 0 auto;
                align-self: end;
                max-width: 50%;                
            }

            #interimg{
                margin: 0 auto;
                justify-self: start;
                max-width: 60%;
            }

            #workimg{
                margin: 10px auto;
                align-self: end;
                justify-self: start;
                max-width: 60%; 
                
                img{
                    max-width: 90%;
                }
            }

            #evanimg{
                margin: 10px auto;
                img{
                    max-width: 90%;
                }     
            }
        }
    }
}