.wrapper{
    position: relative;
    min-height: 90vh;

    .grid{
        position: absolute;
        top: 40%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-areas: 
            "upwork upprod text upinter upexp"
            "linkwork linkprod text linkinter linkexp"
            "downwork downprod text downinter downexp"
        ;
        
        

        .text{
            color: #EFECEC;
            font-family: "FontLight";
            font-size: 1.25em;
            text-align: left;
            padding: 20px 10px 20px 25%;
            grid-area: text;

            div{
                margin-top: 20px;
            }
            
        }

        //border design for text
        .borderdesignup{
            grid-area: text;
            z-index: -1;

            .bordertop{
                width: 75%;
                height: 40px;
                border-top: 3px solid var(--LightBlue);
                border-left: 3px solid var(--LightBlue);
                border-top-left-radius: 50px;
                margin-left: 45px;
            }

            .borderleft{
                height: 37%;
                width: 45px;
                border-right: 3px solid var(--LightBlue);
                border-bottom: 3px solid var(--LightBlue);
            }  
        }

        .borderdesigndown{
            grid-area: text;
            z-index: -1;
            transform: rotate(180deg);
            position: relative;

            .bordertop{
                position: absolute;
                left: -45px;
                width: 75%;
                height: 40px;
                border-top: 3px solid var(--LightBlue);
                border-left: 3px solid var(--LightBlue);
                border-top-left-radius: 40px;
                margin-left: 50px;
            }

            .borderleft{
                position: absolute;
                left: -35px;
                top: 40px;
                height: 37%;
                width: 40px;
                border-right: 3px solid var(--LightBlue);
                border-bottom: 3px solid var(--LightBlue);
            }
        }
        // end of border design text

        .linkworkshop{
            grid-area: linkwork;
            color: var(--TextBlue);
            text-decoration: none;
            font-family: "FontBold";
            font-size: 1.3em;
            padding: 10px;
        }

        .linkproduct{
            grid-area: linkprod;
            color: var(--TextBlue);
            text-decoration: none;
            font-family: "FontBold";
            font-size: 1.3em;
            padding: 10px;
        }

        .linkintervention{
            grid-area: linkinter;
            color: var(--TextBlue);
            text-decoration: none;
            font-family: "FontBold";
            font-size: 1.3em;
            padding: 10px;
        }

        .linkexp{
            grid-area: linkexp;
            color: var(--TextBlue);
            text-decoration: none;
            font-family: "FontBold";
            font-size: 1.3em;
            padding: 10px;
        }

        .evanimg{
            grid-area: downexp;
            max-width: 164px;
            margin: 0 auto;
            align-self: end;
        }
        .interimg{
            grid-area: downinter;
            max-width: 228px;
            margin: 0 auto;
        }

        .prodimg{
            grid-area: upprod;
            max-width: 214px;
            margin: 0 auto;
            border: 7px solid #70BDDC;
            border-radius: 50%;
        }

        .workimg{
            grid-area: upwork;
            max-width: 150px;
            margin: 0 auto;
            border: 7px solid #3F9BBF;
            border-radius: 50%;
        }
    }
}