.wrapper{
    position: relative;
    min-height: 88vh;

    .grid{
        position: absolute;
        top: 40%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 20px 50px;
        grid-template-columns: 16% 16% 16% auto 16% 16% 16% ;
        display: grid;
        grid-template-areas: 
            "title1 title1 title1 break title2 title2 title2"
            "text text text break logo logo logo"
            "text text text break logo logo logo"
            "text text text break title3 title3 title3"
            "link link link break logo2 logo2 logo2"
        ;

        .title{
            font-family: "FontLight";
            color: var(--LightBlue);
            font-weight: 700;
            font-size: 1.2em;
        }

        #title1{
            grid-area: title1;
        }

        #title2{
            grid-area: title2;
        }

        #title3{
            grid-area: title3;
        }

        .text{
            font-size: 1.1em;
            font-family: "FontLight";
            color: var(--LightBlue);
            text-align: center;
            margin: 1.2em auto;
        
            .left{
                display: inline-block;
                width: 40%;
                margin: 20px;
                text-align: left;
                vertical-align: top;

                :last-child{
                    margin-top: 1.2em;
                }
            }

            .right{
                display: inline-block;
                width: 40%;
                margin: 20px;
                text-align: left;
                vertical-align: top;

                :last-child{
                    margin-top: 1.2em;
                }
            }
        }

        #text{
            grid-area: text;
        }

        .breakerbox{
            position: relative;
            .breaker{
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                border-left: 3px solid var(--BreakBlue);
                height: 60%;
            }
        }

        #breaker1{
            grid-area: break;
        }

        .logobox{
            margin-top: 20px;
            text-align: center;
            img{
                display: inline-block;
                width: 22%;
                margin: 10px 20px;
            }

            #ea{
                max-height: 90px;
            }

            #ubi{
                max-height: 90px;
            }
        }

        #logobox{
            grid-area: logo;
        }

        .unibox{
            color: var(--LightBlue);
            font-family: "FontLight";
            font-size: 1em;

            .leftbox{
                display: inline-block;
                vertical-align: top;
                margin: 4px 25px;
                img{
                    max-width: 250px;
                }

                .subtitle{
                    max-width: 240px;
                }
            }

            .rightbox{
                display: inline-block;
                vertical-align: top;
                img{
                    max-width: 200px;
                }

                .subtitle{
                    max-width: 280px;
                }
            }
        }

        #unibox{
            grid-area: logo2;
        }

        .link{
            text-align: left;
            margin: 20px;
            a{
                margin: 20px;
                img{
                    max-width: 37px;
                }
            }
        }

        #link{
            grid-area: link;
        }
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .wrapper{
        .grid{
            top: 40%;
            grid-template-areas: 
            "title1 title1 title1 break title2 title2 title2"
            "text text text break logo logo logo"
            "text text text break logo logo logo"
            "text text text break title3 title3 title3"
            "text text text break logo2 logo2 logo2"
            "link link link break logo2 logo2 logo2"
            ;

            .text{
                margin: 0;
                font-size: 1em;
            }   
            
            .unibox{
                    
                .leftbox{
                    margin: 5px;
                    img{
                        max-width: 190px;
                    }
    
                    .subtitle{
                        max-width: 190px;
                    }
                }
    
                .rightbox{
                    img{
                        max-width: 170px;
                    }
    
                    .subtitle{
                        max-width: 220px;
                    }
                }
            }
        }
    }
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper{
        min-height: 80vh;
        .grid{
            grid-template-areas: 
            "title1 title1 title1 break title2 title2 title2"
            "text text text break logo logo logo"
            "text text text break logo logo logo"
            "text text text break title3 title3 title3"
            "text text text break logo2 logo2 logo2"
            "link link link break logo2 logo2 logo2"
            ;
            top: 45%;
            .title{
                font-size: 1.1em;
            }

            .text{
                font-size: 1em;
                margin: 0.5em auto;

                .left{
                    width: 48%;
                    margin: 2px ;
                
                    :last-child{
                        margin-top: 1em;
                    }
                }

                .right{
                    width: 48%;
                    margin: 2px ;
                    
                    :last-child{
                        margin-top: 1em;
                    }
                }

            }

            .logobox{
                margin-top: 10px;
                img{
                    width: 22%;
                    margin: 10px 20px;
                }
    
                #ea{
                    max-height: 75px;
                }
    
                #ubi{
                    max-height: 75px;
                }
            }

            .unibox{
                    
                .leftbox{
                    margin: 10px 25px;
                    img{
                        max-width: 145px;
                    }
    
                    .subtitle{
                        max-width: 145px;
                    }
                }
    
                .rightbox{
                    margin: 0px 0px;
                    img{
                        max-width: 135px;
                    }
    
                    .subtitle{
                        max-width: 145px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-height: 760px){
    .wrapper{
        position: static;
        min-height: 80vh;
    
        .grid{
            position: static;
            transform: none;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 820px) {
    .wrapper{
        .grid{
            .unibox{
                    
                .leftbox{
                    margin: 10px 25px;
                    img{
                        max-width: 145px;
                    }
    
                    .subtitle{
                        max-width: none;
                    }
                }
    
                .rightbox{
                    margin: 0px 0px;
                    img{
                        max-width: 135px;
                    }
    
                    .subtitle{
                        max-width: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 810px) {
    .wrapper{
        position: static;
        .grid{
            position: static;
            top: 0%;
            -ms-transform: none;
            transform: none;
            margin: 20px;
            grid-template-columns: auto 100% auto;
            grid-template-areas: 
                "space title1 space2"
                "space text space2"
                "space link space2"
                "space title2 space2"
                "space logo space2"
                "space title3 space2"
                "space logo2 space2"
            ;

            .text{
                .left{
                    display: block;
                    width: 100%;
                    margin: 0;
                }
                .right{
                    display: block;
                    width: 100%;
                    margin: 0;
                }

            }
            

            .link{
                text-align: center;
            }

            .logobox{
                img{
                    width: 35%;
                }
            }

            .unibox{
                .leftbox{
                    margin: 5%;
                }
            }
        }


        .breakerbox{
            display: none;
        }
    }
}