.wrapper{
    margin: 20px 50px;
    position: fixed;
    bottom: 0;
    max-width: 1380px;
    width: 100vw;

    .borderleft{
        border-left: 3px solid var(--LightBlue);
        margin: 5px 0px;
        min-height: 30px;
        position: relative;
        left: -5px;
    }

    .borderbottom{
        border-bottom: 3px solid var(--LightBlue);
        width: 200px;
        position: relative;
        left: 5px;
    }

    .grid{
        position: relative;
        top: -40px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-areas: 
            "thought product intervention experience"
        ;
        width: 100%;
        
        a{
            text-decoration: none;
            font-family: "FontLight";
            color: var(--LinkGrey);
        }

        .linkthought{
            grid-area: thought;
        }

        .linkproduct{
            grid-area: product;
        }

        .linkintervention{
            grid-area: intervention;
        }

        .linkexperience{
            grid-area: experience;
        }
    }
}

:global{
    .active{
    color: var(--LinkGreyActive) !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1370px) {
    .wrapper{
        max-width: 1280px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper{
        margin: 20px 30px;
        max-width: 900px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper{
        display: none;
    }
}